<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/dashboard">Soporte<strong>Alabóol</strong></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ng-template [ngIf]="authService.isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active-li">
                    <a class="nav-link" routerLink="/tickets">Tickets <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active-li">
                    <a class="nav-link" routerLink="/chats">Chats</a>
                </li>
                <li class="nav-item" routerLinkActive="active-li">
                    <a class="nav-link" routerLink="/agents">Agentes</a>
                </li>
                <li class="nav-item" routerLinkActive="active-li">
                    <a class="nav-link" routerLink="/knowledgebase">Base de Conocimiento</a>
                </li>
            </ul>
            <button routerLink="/" class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Salir</button>
        </ng-template>
    </div>
</nav>