.btn-ticket{
    margin-top: 10px;
    padding: 18px;
    font-size: 1.15rem;
}

a{
    color: #fff !important;
    cursor: pointer;
}

.breadcrumb-item a {
  color: #1D93EB !important;
  text-decoration: none;
}