<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section>
                <app-chat-agent></app-chat-agent>
            </section>
            <section>
                <app-agent-online-hours></app-agent-online-hours>
            </section>
            <section>
                <app-annual-count></app-annual-count>
            </section>
            <section>
                <app-week-review></app-week-review>
            </section>
        </div>
    </div>
</div>